*{

    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
}
:root { 
       --primary-text-color:
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{font-size: 3rem;
   color: blue;
}
h2{font-size: 2rem;}
p{
font-family: Arial, Helvetica, sans-serif;
}
a{display: inline;block-size: auto;}
.container{ 
    background-color: rgb(218, 70, 169);
}
li{
    display: inline;
    margin: 40px;
    text-decoration-color: grey;
    
}
.link{ 
    background-color: rgb(136, 141, 139);
}
